<div class="home-top-container">
  <div class="home-top-left">
    <picture class="home-top-left-image"> 
      <img src="assets/img/profile.jpg" alt="Nicholas Otieno" />
    </picture>
  </div>
  
  <div class="home-top-right">
    <h1 id="name" >Nicholas Otieno</h1>
    <ul>
      <li>
        <div class="icon is-small"><i class="fa fa-user"></i></div>
        <span>Front-end Developer</span>
      </li>
      <li>
        <div class="icon is-small"><i class="fa fa-location-arrow"></i></div>
        <span>Stockholm, Sweden</span>
      </li>
      <li>
        <div class="icon is-small"><i class="fa fa-graduation-cap"></i></div>
        <span>Software Engineering</span>
      </li>
    </ul>
  </div>
</div>


<div class="home-bottom-text">
  <p>
    Hi there, I'm <strong>Nicholas Otieno</strong>, a Front-end Developer and a JavaScript Enthusiast. Have a look at some of my recent <a class="link" routerLink="../projects">projects</a>. 
  </p>
  <br />
  <p>
    When I'm not programming you can find me programming.
    If you are interested in getting in touch, feel free to <a class="link" routerLink="../contact">drop me a line</a>.
  </p>
  <div class="home-bottom-buttons">
    <a href="https://github.com/niklus" target="_blank" rel="noreferrer noopener">
      <div class="button github">
        <span class="icon is-small"><i class="fab fa-github"></i></span>
        Github
      </div>
    </a>
    <a href="https://www.linkedin.com/in/nicholas-otieno/" target="_blank" rel="noreferrer noopener">
      <div class="button linkedin">
        <span class="icon is-small"><i class="fab fa-linkedin"></i></span>
        LinkedIn
      </div>
    </a>
    <a href="assets/cv/nicholas_cv.pdf" target="_blank">
      <div class="button resume">
        <span class="icon is-small"><i class="fa fa-file"></i></span>
        Résumé 
      </div>
    </a>
  </div>
</div>





